body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100% !important;
    max-height: 100% !important;
    vertical-align: middle;
}

::selection {
    background: transparent;
}

input::selection, textarea::selection {
    background: #BBB;
}


/* remove focus for all the tags */
:focus {
    outline: 0;
}

#mainGraph {
    float: left;
}

#subGraph {
    float: left;
}

#provenance {
    border: 3px solid black;
    margin: 5px;
    float: left;
    overflow: auto;
}

#igraph-svg {
    border: 3px solid black;
    margin: 5px;
}

.nodeLabels {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 0.71em;
}
/*.selected.item  {
    border: 3px solid teal;
}*/

.graphLinks line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.linkLabelBox {

}

.linkLabelText {
    font-family: sans-serif;
    stroke: none;
    font-size: 0.71em;
}


.widget {
    width: 230px;
    position: absolute;
    z-index: 2;
    padding: 10px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}

.widgetClose {
    font-size: 1.1em;
    float: right;
    font-family: FontAwesome;
}

.widgetClose:hover {
    color: red;
    cursor: pointer;
}

.widgetIndicator {
    width: 20px;
    float: left;
    height: 10px;
    border: solid 1px black;
}

.widgetRow {
    width: 230px;
    float: left;
    font-family: inherit;
}

.widgetTitle {
    width: 80px;
    float: left;
    font-size: 0.71em;
    font-weight: bold;
    font-family: inherit;
}

.widgetText {
    width: 150px;
    float: left;
    font-size: 0.71em;
    font-family: inherit;
}

.separeateLine {
    width: 230px;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid black;
}

.widgetImgBox {
    background-color: white;
    width: 230px;
    float: left;
    text-align: center;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.widgetImgBox:hover {
    z-index: 10;
    box-shadow: 0px 0px 150px #000000;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.bigImg {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    font-family: sans-serif;
}

/*Login*/
.PadModal-container {
    
    padding: 10px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: inherit;
}

.PadModal-container h1 {
    text-align: center;
    font-size: 1.1em;
    font-family: inherit;
    margin-top: 0px;
}

.PadModal-container button[type = button] {
    width: 100px;
    height: 25px;
    display: block;
    margin: auto;
    font-size: 0.8em;
    border-radius: 5px !important;
    margin-bottom: 0px;
    position: relative;
    font-family: inherit;
}

.PadModal-container input[type = text], input[type = password] {
    height: 30px;
    font-size: .9em;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: inherit;
}

.PadDropdown {
    height: 25px;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 10px;
    font-family: inherit;
}

.PadAnnotation {
    height: 50px;
    font-size: 0.71em;
    margin-bottom: 10px;
    font-family: inherit;
}

.PadSubGraphBox {
    margin-bottom: 10px;
    font-family: inherit;
}

.PadSubGraphDemo {
    margin-top: 10px;
}

.PadVisBox {
    margin-bottom: 15px;
    font-family: inherit;
    font-size: 0.8em;
}

.PadVisDemo {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.PadModal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


/* Button part */
.btn {
    font-weight: 350 !important;
    color: #fff !important;
}

.btn-success {
    background-color: #555 !important;
    border-color: #555 !important;
}

.btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #111 !important;
    border-color: #111 !important;
}



/*dropdown modal*/
.dropdownButtonBox {
    width: 100%;
    height: 25px;
    cursor: pointer;
}

.dropdownButtonText {
    color: #333;
    background-color: #DDD;
    float: left;
    width: 80%;
    height: 22px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding-top: 3px;
}

.dropdownButtonArrowBox {
    color: #333;
    background-color: #BBB;
    float: left;
    width: 20%;
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdownButtonArrow {
    width: 0px;
    height: 0px;
    position: absolute;
    margin-top: 10px;
    border-width: 6px;
    border-style: solid;
    border-color: #000 #BBB #BBB;
}

.dropdownButton:hover, .dropdownButton:focus {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    margin-top: 5px;
    border-radius: 5px;
    z-index: 4;
}

.dropdownItem {
    color: black;
    padding: 5px 0px;
    text-align: center;
}

.dropdownItem:hover {
    background-color: #DDD;
}



















