body {
    overflow: hidden;
    background-color: #fff;
}

img {
  max-width: 100% !important;
}

::selection {
    background: transparent;
}

input::selection {
    background: #BBB;
}


/* remove focus for all the tags */
:focus {
    outline: 0;
}

#igraph-svg {
    border: 3px solid black;
}

a.active {
    border-bottom: 4px solid teal;
}

.nodeLabels {
    font-family: sans-serif;
    font-size: 1.5em;
}
/*.selected.item  {
    border: 3px solid teal;
}*/

.selected.item > div, .selected.item > i {
    color: #000;
}

.graphLinks line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.linkLabelBox {

}

.linkLabelText {
    font-family: sans-serif;
    stroke: none;
    font-size: 1.1em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    font-family: sans-serif;
}

/*Login*/
.PadModal-container {
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: inherit;
}

.PadModal-container h1 {
    text-align: center;
    font-size: 1.5em;
    font-family: inherit;
    margin-top: 0px;
}

.PadModal-container button[type = button] {
    width: 150px;
    height: 35px;
    display: block;
    margin: auto;
    font-size: 1.3em;
    border-radius: 5px !important;
    margin-bottom: 0px;
    position: relative;
    font-family: inherit;
}

.PadModal-container input[type = text], input[type = password] {
    height: 44px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: inherit;
}

.PadDropdown {
    height: 35px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    font-family: inherit;
}

.PadAnnotation {
    height: 80px;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: inherit;
}

.PadVisBox {
    margin-bottom: 20px;
    font-family: inherit;
}

.PadVisDemo {
    margin-top: 10px;
}

.PadModal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


/* Button part */
.btn {
    font-weight: 350 !important;
    font-size: 1.1em !important;
    color: #fff !important;
}

.btn-success {
    background-color: #555 !important;
    border-color: #555 !important;
}

.btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #111 !important;
    border-color: #111 !important;
}



/*dropdown modal*/
.dropdownButtonBox {
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.dropdownButtonText {
    font-size: 20px;
    color: #333;
    background-color: #DDD;
    float: left;
    width: 80%;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.dropdownButtonArrowBox {
    font-size: 20px;
    color: #333;
    background-color: #BBB;
    float: left;
    width: 20%;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdownButtonArrow {
    width: 0px;
    height: 0px;
    position: absolute;
    margin-left: 263px;
    margin-top: 15px;
    border-width: 7px;
    border-style: solid;
    border-color: #000 #BBB #BBB;
}

.dropdownButton:hover, .dropdownButton:focus {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 4;
}

.dropdownItem {
    color: black;
    padding: 7px 0px;
    text-align: center;
    font-size: 20px;
}

.dropdownItem:hover {
    background-color: #DDD;
}



















